rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isCurrentUser(uid) {
      return request.auth != null && request.auth.uid == uid;
    }

    match /users/{uid}/additional/searches {
      allow write: if isCurrentUser(uid);
    }
  }
}