<div class="route-book">
  {{#if @model.isBusy}}
    Loading...
  {{else if @model.isError}}
    <div class="error">{{@model.error}}</div>
  {{else}}
    <div class="book">
      <Block::Book @book={{@model.data}} />
    </div>
  {{/if}}
</div>